# Sensitive environment files
.env

# Python cache files
__pycache__/
*.py[cod]

# Virtual environment folders
venv/
env/
.venv/
.env/
vertex-config.json
#ignore the firebase json file
configs/serviceAccountKey.json

app/middlewares/prompts/